:root {
  --primary-color: #007bff;
  --primary-light: #66b3ff;
  --primary-dark: #0056b3;

  --warning-color: #ffc107;
  --warning-dark: #e0a800;

  --danger-color: #dc3545;
  --danger-dark: #b02a37;

  --color-background: #f8f9fa;
  --color-background-soft: #ffffff;
  --color-border: #dee2e6;
  --color-heading: #343a40;
  --color-text: #495057;
}
