@import './base.css';

#app {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

body{
  background-color: rgb(139, 138, 136);
}

a {
  text-decoration: none;
  color: var(--primary-color);
  transition: color 0.3s, background-color 0.3s;
  padding: 5px;
  border-radius: 5px;
}

a:hover {
  background-color: var(--primary-light);
  color: var(--primary-dark);
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-primary {
  background-color: var(--primary-color);
}

.btn-primary:hover {
  background-color: var(--primary-dark);
}

.btn-warning {
  background-color: var(--warning-color);
}

.btn-warning:hover {
  background-color: var(--warning-dark);
}

.btn-danger {
  background-color: var(--danger-color);
}

.btn-danger:hover {
  background-color: var(--danger-dark);
}

.form-control {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid var(--color-border);
  border-radius: 5px;
  font-size: 1rem;
}

.form-control:focus {
  outline: none;
  border-color: var(--primary-color);
  box-shadow: 0 0 5px var(--primary-light);
}

.container {
  padding: 20px;
  border-radius: 10px;
  background-color: var(--color-background-soft);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1,
h2 {
  color: var(--color-heading);
  margin-bottom: 20px;
}

p {
  color: var(--color-text);
  margin-bottom: 10px;
}
